<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">JUAN HERNANDEZ</h1>
          <p>Una vida dedicada al Real Club de Guadalmina.Casado, padre de dos hijos.</p>
          <p><a class="btn btn-primary btn-lg" href="<%= root_path%>" role="button">Deja tu voto &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <p>Trabajo en RCGG desde el año 89 que comencé como marshall, procediendo a sacarme las titulaciones de monitor, asistente y maestro de golf, me esmeré en el cumplimiento de mi trabajo hasta pasar a hacer de correturnos y tener conocimiento de todos los puestos de atención al público. </p>
            <p><a class="btn btn-secondary" href="<%= root_path%>" role="button">Deja tu voto &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p>Master de Dirección de Campos de Golf en EADE en Malaga, de un año de duración, consiguiendo la máxima nota en el mismo. He prestado colaboración en diferentes torneos a la RFAG, RFEG, European Tour e incluso hice de Marcador para la tv del tour europeo en la Ryder Cup del 97 en Valderrama. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Deja tu voto &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p>Desde hace 30 años día he intentado hacer que el socio se sienta en Guadalmina como en su propia casa, he intentado hacer mi trabajo lo mejor posible, he tenido infinidad de oportunidades de ofertas para irme a otros clubes, pero mi mi corazón no me dejaría dejar mi club por otro</p>
            <p><a class="btn btn-secondary" href="<%= root_path%>" role="button">Deja tu voto &raquo;</a></p>
          </div>
        </div>


      </div> <!-- /container -->
